// COLORS
$font-color: #082143;
$font-emph-color: #FFA733;
$footer-bg-color: #FFE8D4;
$button-color: #FFCF0B;
$background-color: #E5E5E5;

//FONTS
$h1-font: 600 46px / 1.15 'Gilroy', sans-serif;
$h3-font: 600 26px / 1.2 'Gilroy', sans-serif;
$paragraph-font: 400 20px / 1.2 'Gilroy', sans-serif;
$button-font: 500 20px / 1.2 'Gilroy', sans-serif;