@import '../../../../../../../common/style/abstract/_variables.scss';
.header {
  width: 110%;
  font: $h3-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mistakesIndicatior,
.learnedIndicator {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6862;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 1.35rem;
  color: #ffffff;
}
.learnedIndicator {
  background-color: #58c87e;
}
