@import '../../../../../../common/style/abstract/variables';

.header {
  text-align: center;
  font: $button-font;
  margin-bottom: 3rem;
}

.difficulty__container {
  width: 63rem;
}

.difficulties {
  width: 63rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
