@import '../../common/style/abstracts/_variables';

.cardTeam{
    display: flex;
    
    height: 100%;
    flex-direction: column;
    justify-content:start;
}
.header{
    display: flex;
    justify-content: space-between;
    
    .photo{
        height: 112px;
        width: 112px;
        background-color: #D9D9D9;
        border-radius: 61px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:baseline;
        .name{
            font-size: 22px;
        }
        .role{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 147px;
            height: 34px;
            background-color: $button-color;
            font-size: 20px;
            border-radius: 20px;
        }
    }
    
    
}
.contribution{
    margin-top: 50px;
    font-size: 20px;
}