@import '../../../../../../../../common/style/abstract/mixins';

.container {
  position: relative;
  width: 45rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  @include font($size: 3.2rem, $height: 3.8rem);
  font-weight: 500;
}

.paragraph {
  @include font($size: 2rem, $height: 2.4rem);
  margin: 3.5rem auto;
}

.amount {
  color: #004fba;
}

.arrow {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  height: 3rem;
  width: 2rem;
  cursor: pointer;
  background: url('../../../../../../../../assets/icons/arrow-right.svg') no-repeat center / contain;
  transition: 0.5s;
}
