@import '../../../../common/style/abstract/_variables.scss';
.description {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        color: #000000;
        font: $h3-font;
        font-size: 4.2rem;
    }
    .text {
        text-align: center;
        font: $paragraph-font;
        font-size: 2rem;
        line-height: 3.4rem;
    }
}
