@font-face {
  font-family: 'Gilroy';
  src: url('../../../assets/fonts/Gilroy-Regular') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Gilroy';
//   src: url('../../../assets/fonts/Gilroy-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gilroy';
//   src: url('../../../assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }