// COLORS
$font-color: #082143;
$font-emph-color: #ffa733;
$footer-bg-color: #ffe8d4;
$button-color: #ffcf0b;
$background-color: #fffcfa;

//FONTS
$h1-font: 600 4.6rem / 1.15 'Gilroy', sans-serif;
$h2-font: 600 4.2rem / 1.2 'Gilroy', sans-serif;
$h3-font: 600 2.6rem / 1.2 'Gilroy', sans-serif;
$paragraph-font: 400 2rem / 1.2 'Gilroy', sans-serif;
$button-font: 500 2rem / 1.2 'Gilroy', sans-serif;