@import '../../common/style/abstract/variables';

.button {
  color: $font-color;
  border: none;
  padding: 2rem 3rem;
  border-radius: 5rem;
  text-transform: uppercase;
  border: 0.2rem solid $button-color;
  background-color: $button-color;
  font: $button-font;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    border-color: $font-color;
  }
}

@keyframes threeQuartersLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.threeQuartersLoader {
  animation: threeQuartersLoader 1250ms infinite linear;
  border: 0.2em solid $font-color;
  border-right-color: transparent;
  border-radius: 0.5em;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 1em;
  height: 1em;
}

.loaderContainer {
  height: auto;
}
