@import '../../../../../common/style/abstract/_variables.scss';
.result {
  font: $h3-font;
}
.wordsAmount {
  font: $paragraph-font;
}
.Mascot {
  height: 19.5rem;
  width: 17.5rem;
  margin: 0 1.5rem 1.5rem 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.arrow {
  position: absolute;
}

.toDictionary {
  font: $paragraph-font;
}
.containerEndCard {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 200%;
  height: 100%;
  margin-left: 100%;
  animation-fill-mode: forwards;
}

.animationRight {
  animation: slideIn 0.5s;
  animation-fill-mode: forwards;
}
.animationLeft {
  animation: slideOut 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -100%;
  }
}
@keyframes slideOut {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 100%;
  }
}

.arrowEnd {
  position: absolute;
  top: 50%;
  right: 52%;
}
.arrowStat {
  position: absolute;
  top: 50%;
  left: 52%;
}
.button {
  color: $font-color;
  border: none;
  padding: 19px 31px;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: $button-color;
  border: 2px solid $button-color;
  font: $button-font;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    border-color: $font-color;
  }
}

.mistakes,
.learned {
  ul {
    padding: 0;
  }
  li {
    font: $paragraph-font;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 1.3rem 1.3rem 0;
    img {
      margin-right: 0.9rem;
    }
  }
}

.link {
  text-decoration: none;
}
