@import '../../../../../common/style/abstract/_variables.scss';
ul {
  padding: 0;
}
.word {
  font: $paragraph-font;
  list-style-type: none;
  display: flex;

  align-items: center;
  img {
    margin-right: 0.9rem;
  }
}
