@import '../../../../../../../common/style/abstract/mixins';
@import '../../../../../../../common/style/abstract/variables';

.variants__container {
  display: flex;
  justify-content: center;
  gap: 3.6rem;
}

.next {
  width: 16rem;
  text-align: center;
}

.variant {
  text-transform: uppercase;
  cursor: pointer;
  padding: 2rem 6.6rem;
  background: #fff4ed;
  color: $font-color;
  border-radius: 3.8rem;
  @include font($size: 2rem, $height: 2.4rem);
  font-weight: 600;
  transition: 0.5s;
}
