@import '../../../../../../../common/style/abstract/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.audio {
  display: none;
}

.textContent {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.word {
  @include font($size: 4.2rem, $height: 5.2rem);
  font-weight: 600;
}

.img {
  border-radius: 1rem;
  width: 25rem;
  height: auto;
}

.audioButton {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background: url('../../../../../../../assets/icons/sound.svg') no-repeat bottom / contain;
}
