@import '../abstract/variables';

* {
  box-sizing: border-box;
  color: $font-color;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  background: $background-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

:global(#root) {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

:global(.variant) {
  transition: background 0.5s;

  &:hover {
    background: $button-color;
  }
}

:global(.variant_active) {
  background: $button-color;
}
