@import '../../../common/style/abstract/mixins';
@import '../../../common/style/abstract/variables';

.explanation {
    @include font($size: 1.6rem, $height: 1.9rem);
    color: rgba(8, 33, 67, 0.5);
    margin: 0 0 2rem;
}

.inputContainer {
    position: relative;
    display: flex;
}

.input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 0.1rem solid #909090;
    background: transparent;
    font-size: 2rem;
    transition: 0.5s;
    &:hover {
        border-bottom-color: $font-color;
    }
    &:focus {
        outline: none;
        border-bottom-color: $font-color;
    }
}

.buttonEye,
.buttonEyeHide {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    right: 1rem;
    align-self: center;
    padding: 0;
}

.buttonEye {
    background-image: url(../../../assets/icons/eyeHide.svg);
}

.buttonEyeHide {
    background-image: url(../../../assets/icons/eyeHide.svg);
}

.error {
    @include font($size: 1.6rem, $height: 1.9rem);
    color: red;
    margin: 1rem 0 2rem;
}

.transparent {
    @include font($size: 1.6rem, $height: 1.9rem);
    color: transparent;
    margin: 1rem 0 2rem;
}
