.container {
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: 42.7rem;
    background-color: #fff4ed;
    .CardUpperPart {
        display: flex;
        justify-content: center;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}
.cotrolsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
