.container {
  position: relative;
  width: 120rem;
  margin: 0 auto;
}

.carousel {
  width: 111rem;
  overflow: hidden;
  margin: 0 auto;
}

.inner {
  margin: 0 auto;
  width: 110rem;
  display: flex;
  gap: 3rem;
  width: 19rem * 20;
  transition: 0.5s;
}
