@import '../../../../../common/style/abstract/_variables.scss';
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    gap: 2rem;

    .GuessWord {
        font: $h3-font;
        font-size: 4.2rem;
    }
    .OurGuess {
        font: $paragraph-font;
        font-size: 3.2rem;
    }
}
