@import '../../../common/style/abstract/variables';

.header {
  font: $h1-font;
  margin: 0;
}

.text {
  font: $paragraph-font;
  margin: 0;
  margin: 2rem 0 5.6rem;
}

.logo {
  color: $font-emph-color;
}

.content {
  max-width: 52rem;
  margin-top: 8.3rem;
  margin-bottom: 20.7rem;
}

.container {
  margin: 0 auto;
  width: 144rem;
  padding: 8.3rem 5rem 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/images/Main/Welcome/main-background.png') no-repeat;
  background-position: bottom 7rem right 7rem;
}

.image {
  width: 50rem;
  height: 36.8rem;
  margin-top: 8.6rem;
  margin-bottom: 10.7rem;
  width: 72.1rem;
  background: url('../../../assets/images/Main/Welcome/main.png');
}

.link {
  text-decoration: none;
  display: inline-block;
}
