@import '../../common/style/abstract/variables';

.card {
  padding: 2rem;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0 0.4rem 1rem #e4d8cb80;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in;

  &:hover {
    transform: translate(0, -0.2rem);
    box-shadow: 0px 0.7rem 1rem #e4d8cb80;
  }
}

.cardTeam {
  width: 35rem;
  height: 48.2rem;
}

.cardOpportunity {
  width: 35rem;
  height: 40.9rem;
}

.cardGames {
  width: 54rem;
  height: 48.2rem;
}
.cardStatisticSmall {
  padding: 4.5rem;
  width: 39rem;
  height: 18.2rem;
  margin-bottom: 1.5rem;
}
.cardStatisticMedium {
  padding: 4.5rem;
  width: 39rem;
  height: 28.8rem;
}
.cardStatisticLarge {
  padding: 4.5rem;
  width: 44.5rem;
  height: 23.5rem;
  margin-bottom: 1.5rem;
}
