@import '../../common/style/abstract/variables';

.title {
  font: $h3-font;
  margin: 7rem 0 2rem;
}

.body {
  font: $paragraph-font;
}

.image {
  width: 100%;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.link {
  text-decoration: none;
}
