@import '../../../common/style/abstract/_variables.scss';
.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 7rem;
}
.header {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  font: $paragraph-font;
  color: #082143;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: $font-color;
  border: none;
  padding: 2rem 3rem;
  border-radius: 5rem;
  text-transform: uppercase;
  border: 0.2rem solid $button-color;
  background-color: $button-color;
  font: $button-font;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  &:hover {
    border-color: $font-color;
  }
}

.link {
  text-decoration: none;
}

.notActive {
  color: #a7a7a7;
  background-color: #cbcbcb;
  border-color: $font-color;
}
.active {
  background-color: #fff4ed;
  &:hover {
    background-color: $button-color;
    border-color: $font-color;
  }
}
