@import '../../../../../../../../../common/style/abstract/mixins';

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.text {
  @include font($size: 2.4rem, $height: 3rem);
  font-weight: 600;
}

.amount {
  @include font($size: 1.6rem, $height: 2rem);
  font-weight: 600;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
