.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.5rem;
  min-height: calc(100vh - 39.9rem);
}

.illustration {
  width: 49rem;
  height: 48.3rem;
  background-image: url(../../assets/images/Entrance/Illustration.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
