@import '../../common/style/abstract/_variables.scss';

.header {
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 144rem;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    position: relative;
    width: 6rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #082143;
  }

  .buttonAuthor {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    border: 2px solid $button-color;
    padding: 15px 40px;
    border-radius: 5rem;
    text-align: center;
    font: $button-font;
    transform: scale(1);
    transition: 0.3s;

    &:hover {
      background-color: $button-color;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
