@import '../../common/style/abstracts/_variables.scss';
.header{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    
    .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        img{
            width: 60px;
            height: 60px;
        }
        h5{
            width: 112px;
            height: 39px;
            font-size: 32px;
            line-height: 39px;
            color: #082143;
            font: $h1-font; 
        }
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        position: relative;
        width: 60px;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
        color: #082143;
    }

    .buttonAuthor{
        display: flex;
        justify-content: center;
        border: 2px solid #699DEE; 
        padding: 15px 40px;
        border-radius: 25px;
        text-align: center;
        font: $button-font;
        transition: 0.3s;
        &:hover{
            font-size: 19.2px;
            border-radius: 30px;
            background-color: lighten($color: #699DEE, $amount: 30%);
        }
        &:active{
            font-size: 22.2px;
        }
    }

}
