@import '../../common/style/abstracts/_variables.scss';
.header{
    display: flex;
    justify-content: center;    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 144rem;
    
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        position: relative;
        width: 6rem;
        height: 2.2rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: #082143;
    }

    .buttonAuthor{
        display: flex;
        justify-content: center;
        border: 2px solid $button-color; 
        padding: 15px 40px;
        border-radius: 25px;
        text-align: center;
        font: $button-font;
        transition: 0.3s;
        &:hover{
            font-size: 19.2px;
            border-radius: 30px;
            background-color: lighten($color: $button-color, $amount: 40%);
        }
        &:active{
            font-size: 22.2px;
        }
    }

}
