@import '../../../common/style/abstract/mixins';

.error {
  @include font($size: 1.6rem, $height: 1.9rem);
  color: red;
  margin: 1rem 0 2rem;
}

.transparent {
  @include font($size: 1.6rem, $height: 1.9rem);
  color: transparent;
  margin: 1rem 0 2rem;
  user-select: none;
}
