@import '../../common/style/abstract/variables';
@import '../../common/style/abstract/mixins';

.header {
  @include font($family: 'Gilroy-SemiBold', $size: 3.2rem, $height: 3.9rem);
  color: #082143;
  text-align: center;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 0 2.5rem;
  font: $paragraph-font;
  list-style-type: none;
}

.button,
.buttonActive {
  position: relative;
  transition: font-size 0.1s;
  border: 0;
  padding: 0 0 0.5rem;
  background: none;
}

.button {
  border-bottom: 2px solid transparent;
}

.buttonActive {
  border-bottom: 2px solid $button-color;
}
