@import '../../common/style/abstract/_variables.scss';

.section {
  display: flex;
  flex-direction: column;
  font: $paragraph-font;
  margin-bottom: 7rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header {
  text-align: center;
  color: #082143;
  font: $h2-font;
  margin-bottom: 5.5rem;
}
