@import '../../common/style/abstract/mixins';

.container {
  display: flex;
  justify-content: center;
}

.header {
  @include font($family: 'Gilroy-SemiBold', $size: 3.2rem, $height: 3.9rem);
  color: #082143;
  text-align: center;
  padding: 5rem 0;
}

.left {
  margin-right: 3rem;
}
