@import '../../../../../../../common/style/abstract/variables';

.card {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff4ed;
  font: $h3-font;
  cursor: pointer;
  border: 0.2rem solid #fff4ed;
  transition: 0.5s;

  &:hover {
    border-color: $font-color;
  }
}
