@import '../../../../common/style/abstract/_variables.scss';
.container {
    position: absolute;
    width: 8rem;
    top: 26%;
    left: 19%;
    font: $paragraph-font;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
