@import '../../../../../../common/style/abstract/variables';
@import '../../../../../../common/style/abstract/mixins';

.container {
  background-color: #fff4ed;
  width: 66.5rem;
  height: 55.3rem;
  border-radius: 1rem;
  margin: 5rem auto 0;
  padding: 4rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.vocabulary {
  @include font($height: 2.2rem, $size: 1.8rem);
}
