@import '../../../../../common/style/abstract/_variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font: $paragraph-font;
  height: 6rem;
  width: 23rem;
  border-radius: 0.5rem;
}
