@import '../../common/style/abstract/mixins';

.footer {
  @include font($size: 2rem, $height: 2.4rem);
  display: flex;
  background-image: url(../../assets/icons/footer.svg);
  padding: 12rem 0 2rem;
  justify-content: center;

  .wrapper {
    width: 144rem;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    align-items: center;
    padding: 0 0 3.5rem;
  }

  .logoRss {
    width: 15rem;
    min-height: 5rem;
    background-image: url(https://rs.school/images/rs_school_js.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -900rem;
    overflow: hidden;
  }

  .githubContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 2rem;
    text-align: center;
  }

  .iconGithub {
    width: 5.2rem;
    height: 4.9rem;
    background-image: url(../../assets/icons/github.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .linkToRss {
    text-decoration: none;
    color: black;
    justify-self: end;
    text-align: center;
  }

  .developmentDate {
    text-align: center;
  }
}
