@import '../../../common/style/abstract/mixins';
@import '../../../common/style/abstract/variables';

.pagination__container {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 5rem;

  .pagination__item {
    @include font($size: 2rem, $height: 2.4rem);
    width: 4rem;
    height: 4rem;
    margin: 0 0.4rem;
    color: $font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
    }

    &.AFFCF0B:hover,
    &.AFFCF0B.selected {
      background: #ffcf0b;
    }

    &.AFFAC4B:hover,
    &.AFFAC4B.selected {
      background: #ffac4b;
    }

    &.ABAF3AF:hover,
    &.ABAF3AF.selected {
      background: #baf3af;
    }

    &.A85D671:hover,
    &.A85D671.selected {
      background: #85d671;
    }

    &.AAFCDFB:hover,
    &.AAFCDFB.selected {
      background: #afcdfb;
    }

    &.A699DEE:hover,
    &.A699DEE.selected {
      background: #699dee;
    }

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    .arrow {
      position: relative;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      transform: translateX(0.5rem);

      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 50%;
        height: 0.2rem;
        top: 50%;
        border-radius: 0.1rem;
        background: $font-color;
      }

      &.left {
        &:before,
        &:after {
          transform-origin: center left;
        }

        &:before {
          transform: rotate(45deg) translateY(-0.1rem);
        }

        &:after {
          transform: rotate(-45deg) translateY(0.1rem);
        }
      }

      &.right {
        &:before,
        &:after {
          transform-origin: center right;
        }

        &:before {
          transform: rotate(45deg) translateY(0.1rem);
        }

        &:after {
          transform: rotate(-45deg) translate(-0.1rem, -0.1rem);
        }
      }
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.1;

      &:hover {
        cursor: default;
      }
    }
  }
}
