.CardUpperPart {
  gap: 2rem;
}

.controls {
  width: 102%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}
.cotrolsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  button {
    border: none;
  }
}
.arrows {
  display: flex;
  flex-direction: row;
}
.cotrolsContainer__arrow {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.CardUpperPart {
  display: flex;
  justify-content: center;
}
