@import '../../common/style/abstract/mixins';

.card {
  position: relative;
  margin: 5rem auto;
  padding: 5rem;
  width: 92rem;
  min-height: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1rem #e4d8cb80;

  .playable {
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;

    &::before {
      position: absolute;
      content: '';
      top: 1.8rem;
      left: -0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background: url('../../assets/icons/sound.svg') no-repeat center / cover;
      transform: translate(-100%, -100%);
    }
  }

  .word {
    &__word {
      text-transform: capitalize;
      @include font($size: 3.4rem, $height: 4.2rem);
      font-weight: 600;
    }

    &__container {
      position: relative;
      margin: 4rem 0 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    &__translate {
      @include font($size: 2.4rem, $height: 2.9rem);
    }

    &__transcription {
      @include font($size: 2rem, $height: 2.4rem);
      margin: 1.2rem 0 4.8rem;
    }
  }

  .img {
    width: 45rem;
    height: 26rem;
    border-radius: 1rem;
  }

  .play {
    position: absolute;
    right: -4rem;
    width: 3rem;
    height: 3rem;
    background: url('../../assets/icons/sound.svg');
    cursor: pointer;
  }

  .phrases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5rem;
  }

  .audio {
    display: none;
  }

  .meaning,
  .example {
    @include font($size: 1.8rem, $height: 2.2rem);
  }

  .header {
    @include font($size: 2.2rem, $height: 2.7rem);
    margin: 0;
    margin-bottom: 1.7rem;
  }

  .icon {
    position: absolute;
    top: 3rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }

    &.translate {
      left: 3rem;
      background: url('../../assets/icons/translate.svg');
    }

    &.add {
      right: 3rem;
      background: url('../../assets/icons/plus.svg');
    }
  }
}
