@import '../../common/style/abstract/mixins';

.button {
  z-index: 10;
  position: absolute;
  display: block;
  width: 2rem;
  height: 3rem;
  top: 50%;
  transition: .3s;
  transform: translateY(-50%);
  cursor: pointer;

  &_left {
    left: 0;

    &:before,
    &:after {
      @include arrow();
      transform-origin: center left;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &_right {
    right: 0;

    &:before,
    &:after {
      @include arrow();
      transform-origin: center right;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.disabled {
  opacity: 0.1;
  cursor: default;
}