@import '../../../common/style/abstracts/_variables.scss';
.navList{
    display: flex;
    flex-direction: row;
    li{
        padding: 0 25px;
        font:$paragraph-font;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150%;
        width: 150%;
        transition: font-size 0.1s; 
        &:hover{
            border-radius: 25px ;
            background-color: lighten($color: $button-color, $amount: 40%);
        }
        &:active{
            border: 1px solid $button-color;
            font-size: 19px;
        }
        img{
            padding: 5px 0 0 5px;
        }
    }
} 