@import '../../../common/style/abstract/mixins';

.wrapper {
  padding: 5rem 6.5rem;
  background: #ffffff;
  box-shadow: 0px 0.4rem 1rem rgba(228, 216, 203, 0.5);
  border-radius: 2rem;
}

.header {
  @include font($family: 'Gilroy-SemiBold', $size: 4.2rem, $height: 5.1rem);
  margin: 0 0 2rem;
}

.info {
  @include font($size: 2rem, $height: 2.4rem);
  margin: 0 0 3rem;
}

.authorization {
  text-decoration: none;
  color: #004fba;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid #004fba;
  }
}

.buttonRegistration {
  width: 100%;
}
