@import '../../../../common/style/abstract/variables';

.item {
  padding: 0 2.5rem;
  font: $paragraph-font;
}

.link {
  position: relative;
  height: 150%;
  width: 150%;
  transition: font-size 0.1s;

  &:before {
    position: absolute;
    content: '';
    width: 0%;
    bottom: -0.5rem;
    border-radius: 0.15rem;
    height: 3px;
    background-color: $button-color;
    transition: 0.3s;
  }

  &:hover:before {
    width: 100%;
  }
}

.arrow {
  padding: 0.5rem 0 0 0.5rem;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
