@import '../../../../../../../../common/style/abstract/mixins';
@import '../../../../../../../../common/style/abstract/variables';

.variant {
  cursor: pointer;
  padding: 1.2rem 3rem;
  background: #fff4ed;
  color: $font-color;
  border-radius: 2.4rem;
  @include font($size: 2rem, $height: 2.4rem);
  font-weight: 600;
  transition: 0.5s;
}
