@import '../../common/style/abstract/mixins';

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .percentage,
  .text {
    margin: 0;

    // color: black;
  }

  .percentage {
    @include font($height: 5.2rem, $size: 4.2rem);
    font-weight: 600;
  }

  .text {
    @include font($height: 1.7rem, $size: 1.4rem);
  }
}
