@import '../../common/style/abstract/mixins';
@import '../../common/style/abstract/variables';

.card {
  width: 16rem;
  height: 12rem;
  background: #E8E8E8;
  border: 2px solid #E8E8E8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 0 0;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    border-color: $font-color;
  }
}