@import '../../../../../../../../../common/style/abstract/mixins';

.audio {
  display: none;
}

.itemContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.audioButton {
  width: 2rem;
  height: 2rem;
  background: no-repeat center / cover url('../../../../../../../../../assets/icons/sound.svg');
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.textContent,
.wordTranslate {
  @include font($size: 2rem, $height: 2.4rem);
}

.textContent {
  font-weight: 600;
}

.wordTranslate {
  font-weight: 500;
}
