.background {
  background-image: url(../../../assets/images/Sprint/SprintBG.png);
  background-repeat: none;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: space-evenly;
}
.container {
  width: 100%;
  max-width: 144rem;
}
