.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18rem;

  img {
    width: 6rem;
    height: 6rem;
  }

  h5 {
    width: 11.2rem;
    height: 3.9rem;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #082143;
    font: 600 3.2rem/1.15 'Gilroy', sans-serif;
  }
}